<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script type="text/javascript" src="//cdn.bootcss.com/vue/2.0.3/vue.js"></script>
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="../js/cart.js"></script>
  <script src="../js/data.js"></script>
  <link rel="stylesheet" href="../css/cart.css">
</head>

<body>
  <div id="cart">
    <div class="store" v-for="items1 in cartData.data.data" v-if="cartData.data.data">
      <div class="top">
        <div class="label selected select-store-all"></div>
        <div><i><img :src="items1.country.regionImgUrl" alt=""></i>{{items1.store_name_en}}官网发货</div>
      </div>
      <div class="main">
        <div class="list">
          <div class="tips">
            <button>满减</button>
            <span>满200元免运费</span>
            <a href="#">去凑单<i></i></a>
          </div>
          <div class="wrap" :class="{ outdate: !items2.product.instock  }" v-for="items2 in items1.cart_list" :data-id="items2.cart_id">
            <div v-for="items3 in items2.product.sku_list" v-if="items3.selected">
              <div class="label selected">{{ !items3.inStock ? "失效" : '' }}</div>
              <div class="avator"><img :src="items2.product.coverImgUrl" alt=""></div>
              <div class="content">
                <div class="title">
                  <div class="name">
                    {{items2.product.product_name}}
                  </div>
                  <div class="right">
                    <div class="price">
                      ￥{{items3.realPrice}}
                    </div>
                    <div class="nums">
                      X{{items2.count}}
                    </div>
                  </div>
                </div>
                <div>颜色： {{items3.skuValues[0]['value']}}</div>
                <div>尺码： xxxx</div>
              </div>
            </div>
          </div>
        </div>
        <!-- <button class="clear_goods">清空失效产品</button> -->
      </div>
      <div class="grayrect"></div>
    </div>
    <div class="hasnogoods" v-else>
      您的购物车没有商品
    </div>
    <div class="footer">
      <div class="label selected select-all"></div>
      <div class="all">
        全选
      </div>
      <div class="middle">
        <div class="price">
          应付金额：<span>{{cartData.data.total_price}}</span>
        </div>
        <div class="totalnums">
          已选 <span></span> 件商品
        </div>
      </div>
      <div class="pay">
        前往结算
      </div>
    </div>

  </div>
  <script>
  var cart = new Vue({
    el: '#cart',
    data: {
      cartData: cartData
    }
  });

  $(function() {
    init();
  })
  </script>
</body>

</html>
