<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>
  <div class="container">
    <div class="breadcrumb">
      <span>HOME</span>
      <a href="javascript:void(0)">&gt;</a>
      <span class="active">品牌折扣</span>
    </div>
    <div class="banner">
      <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
      <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
      <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
    </div>
    <div class="brand">
      <div class="left">
        <div><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></div>
        <div><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></div>
      </div>
      <div class="right">
        <div>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
        </div>
        <div>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
        </div>
        <div>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
        </div>
      </div>
    </div>
    <div class="classify_navbar">
      <div>
        <div class="top">热门奶粉品牌</div>
        <div class="main">
          <img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="top">热门奶粉品牌</div>
        <div class="main">
          <img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="top">热门奶粉品牌</div>
        <div class="main">
          <img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="top">热门奶粉品牌</div>
        <div class="main">
          <img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="top">热门奶粉品牌</div>
        <div class="main">
          <img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="classify_filter">
      <div class="top">
        <div><span>分类筛选</span></div>
        <div><input type="text" placeholder="搜索品牌"></div>
      </div>
      <div class="main">
        <div class="left">分类：</div>
        <div class="right">
          <div class="tips active">
            <span class="circle"></span>
            <span class="middle">电脑数码</span>
            <span class="circle"></span>
          </div>
          <div class="tips">
            <span class="circle"></span>
            <span class="middle">电脑数码</span>
            <span class="circle"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="pieces">
      <div class="top">电子数码<span>(1000)</span></div>
      <div class="main">
        <div class="wrap">
          <div class="_top">
            <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
            <div class="content">
              <h3>美国网件</h3>
              <div>
                <span>2.1万优惠</span>
                <a href="javascript:void(0)">|</a>
                <span>4千晒单</span>
                <button>取消收藏</button>
                <span>查看品牌  &gt;</span>
              </div>
            </div>
          </div>
          <div class="_bottom">
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="_top">
            <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
            <div class="content">
              <h3>美国网件</h3>
              <div>
                <span>2.1万优惠</span>
                <a href="javascript:void(0)">|</a>
                <span>4千晒单</span>
                <button>取消收藏</button>
                <span>查看品牌  &gt;</span>
              </div>
            </div>
          </div>
          <div class="_bottom">
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="_top">
            <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
            <div class="content">
              <h3>美国网件</h3>
              <div>
                <span>2.1万优惠</span>
                <a href="javascript:void(0)">|</a>
                <span>4千晒单</span>
                <button>取消收藏</button>
                <span>查看品牌  &gt;</span>
              </div>
            </div>
          </div>
          <div class="_bottom">
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
            <div>
              <img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt="">
              <div class="title">SONY相机</div>
              <div class="price"><span>10608元</span>（包邮）</div>
            </div>
          </div>
        </div>
      </div>
      <div class="load">加载更多...</div>
    </div>

    <div class="pagination">
      <div>
        <span>&lt;</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&gt;</span>
      </div>
    </div>
  </div>
</body>

</html>
