<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <div class="container">
      <div class="breadcrumb">
        <span>HOME</span>&gt;
        <span>品牌折扣</span>
      </div>
      <div class="banner">
        <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
        <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
        <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
      </div>
      <div class="brand">
        <div class="left">
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></div>
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></div>
        </div>
        <div class="right">
          <div>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          </div>
          <div>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          </div>
          <div>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
            <span><img src="http://cdn.55haitao.com/bbs/data/attachment/store/new/20140422142534.jpg" alt=""></span>
          </div>
        </div>
        <div class="classify_navbar">
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
          <div><img src="http://cdn.55haitao.com/bbs/data/attachment/banner/2016/12/01/1dc602d766e2fe561f0bef4d954bd80a.jpg" alt=""></div>
        </div>
        <div class="classify_filter">
          <div class="top">
            <div>分类筛选</div>
            <div><input type="text" placeholder="搜索品牌"></div>
          </div>
          <div class="main">
            <div class="lef">分类：</div>
            <div class="right">
              <span class="tips">电脑数码</span>
              <span class="tips">电脑数码</span>
              <span class="tips">电脑数码</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
