<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="//cdn.bootcss.com/vue/2.0.3/vue.js"></script>
  <link rel="stylesheet" href="../css/cart.css">
  <title>Document</title>
</head>

<body>
  <div id="order">
    <div class="address">
      <i class="left">11</i>
      <p>请选择收货地址</p>
      <i class="right">22</i>
    </div>
    <div class="store" v-for="(v, i) in carts" v-if="carts">
      <div class="top">
        <!-- <div class="label" @click="selectAll"></div> -->
        <div><i><img :src="v.country" alt=""></i>{{v.storeName}}</div>
      </div>
      <div class="main">
        <div class="list">
          <div class="wrap" :class="{ outdate: !value.isStock  }" v-for="(value, index) in v.cartList">
            <!-- <div class="label">{{ !value.isStock ? "失效" : '' }}</div> -->
            <div class="avator"><img :src="value.image" alt=""></div>
            <div class="content">
              <div class="title">
                <div class="name">
                  {{value.name}}
                </div>
                <div class="right">
                  <div class="price">
                    ￥{{value.price}}
                  </div>
                  <div class="nums">
                    X{{value.nums}}
                  </div>
                </div>
              </div>
              <div>颜色： {{value.color}}</div>
              <div>尺码： {{value.size}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="orderDetail">
      <div>商品金额: {{goodsPrice}}</div>
      <div>运费：官网运费￥{{site_expenses}}+国际运费￥{{international_expenses}}</div>
      <div>消费税：{{consum_tax}}</div>
      <div>关税：{{tariff ? tariff : '暂不收取'}}<i>aa</i></div>
      <div>总计：{{goodsPrice}}</div>
    </div>
    <div class="coupon cell">
      <div>优惠卷</div>
      <div>请选择优惠卷<i>></i></div>
    </div>
    <div class="charges cell">
      <div>使用佣金抵￥{{charges}}</div>
      <div>swicth</div>
    </div>
    <div class="zhifubao cell pay">
      <div><i><img src="" alt=""></i>支付宝支付</div>
      <div><span class="select"></span></div>
    </div>
    <div class="weixin cell pay">
      <div><i><img src="" alt=""></i>微信支付</div>
      <div><span class="select"></div>
    </div>
    <div class="remarks">
      <span>备注</span>
      <textarea placeholder="有什么特殊的需求可以写在这里"></textarea>
    </div>
    <div class="footer">
      <div class="label"></div>
      <div class="all">
        全选
      </div>
      <div class="middle">
        <div class="price">
          应付金额：<span>{{totalPrice}}</span>
        </div>
        <div class="totalnums">
          已选{{totalNum}}件商品
        </div>
      </div>
      <div class="pay">
        前往支付
      </div>
    </div>
  </div>
  <script>
  const data = [{
    storeName: 'xxx官网',
    country: 'http://searchimg.b0.upaiyun.com/cateOptImg/US@3x.png',
    tips: true,
    cartList: [{
      name: '哈哈斜挎包就爱',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: true,
      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }, {
      name: '哈哈斜挎包就爱',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: true,
      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }]
  }];
  var cart = new Vue({
    el: '#order',
    data: {
      carts: data,
      totalPrice: 2000,
      totalNum: 2,
      site_expenses: 20,
      international_expenses: 30,
      consum_tax: 100,
      tariff: 0,
      goodsPrice: 1000,
      charges: 10
    }
  });
  </script>
</body>

</html>
